/* @override http://jakelovedev.com/wdim393/d5/css/small.css */

header#header {
	background: url("../images/logo-small.png"), url("../images/nav-back.jpg");
  background-position: 15px 7px, top left;
  background-repeat: no-repeat, repeat-x;
}

header#header menu {
	width:80%;
	text-align:left;
	margin-left:20%;
}

header#header ul {
	width:100%;
	padding-top: 15px;
}

header#header ul li {
	margin-right: 12%;
}

figure#logo {
	width: 90%;
	height:auto;
	margin:0 auto 10px;
}

figure#logo #d5 {
  display:none !important;
}

figure#logo img#dpt5 {
	width:100%;
	height:auto;
	margin-top: 45px;
	z-index: -1;
	margin-left:1% !important;
}

section.standOut article {
  color: #161616;
  font-size: 17px;
  font-weight: bold;
  line-height: 17px;
  margin: 0 auto;
  padding-left: 0;
  width: 80%;
}

section#calls2act {
  height:auto;
  min-height: 215px;
  margin: 0 auto 30px;
  text-align: center;
  width: 100%;
  display: block;
}

section#calls2act ul#actions li {
  display: block;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

section#calls2act ul#actions li:nth-child(2) {
  margin: 0;
}
section#calls2act ul#actions li:hover:after {
	content:"" !important;
}

section#recentPost {
  margin: 0 auto;
  width: 80%;
}

section#recentPost article {
  padding-left: 0;
}