/* @override http://jakelovedev.com/wdim393/d5/css/style.css */

html, body, div, menu, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, del, dfn, em, font, img, ins, kbd, q, s, samp, acronym, address, big, cite, code,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;}

caption, th, td {text-align:left;font-weight:normal;}

table {border-collapse:separate;border-spacing:0;}

blockquote:before,blockquote:after,q:before,q:after {content: "";}

blockquote, q {quotes: "" "";}

/* END RESET */

body {
	font-size: 14px;
	background: hsla(0, 2%, 91%, 1);
	color: #000;
	font-family: 'Quicksand', sans-serif;
}

.ltie9 body {
	background:#e8e7e7;
}

a {
    transition: all 0.3s ease-in-out;
}

a:link, a:visited {
	color:#b52f2d;
	text-decoration:none;
	transition: all .5s ease-in-out;
}

a:hover {
	color:#461c1b;
}

#container {
	padding-bottom:85px;
}

header#header {
	background: url("../images/nav-back.jpg") repeat-x scroll 0 0 transparent;
	box-shadow: 0 0 15px #000000;
	height: 62px;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index:1000;
}

header#header menu {
	margin: 0 auto;
	text-align: right;
	max-width: 900px;
	width: 90%;
	padding-right: 50px;
}

header#header ul {
	list-style-type:none;
	padding-top:10px;
	width:100%;
	display: inline-block;
}

header#header ul li {
	display:inline-block;
	color:#ececec;
	margin-right: 6.666666667%; /* 60px / 900px */
	text-align:left;
	font-family: 'Passion One', cursive;
	font-size:16px;
}

.ie7 header#header ul li {
	display: inline;
}

header#header ul li.currentPage span {
	color:#FFF;
}

header#header ul li:not(.currentPage) a:link, header#header ul li:not(.currentPage) a:visited {
	color:#ececec;
	text-decoration:none;
}

header#header ul li:not(.currentPage) a:hover {
	color:#f6a09f;
}

header#header ul li.currentPage a:link, header#header ul li.currentPage a:visited {
	color:#f34947;
}

figure#logo {
	height: 285px;
	margin: 0 auto;
	width: 900px;
	display: block;
	padding-top:30px;
	margin-bottom:30px;
}
figure#logo #d5 {
	position: fixed;
	z-index: 999999;
}
figure#logo #dpt5 {
	display:none;
	margin-left: 323px;
	margin-top: 75px;
	z-index: -1;
}
figure#coolShit {
	margin: 55px auto 0;
	padding-right: 60px;
	text-align: right;
	width: 840px;
}

.standOut {
	padding:35px 0;
	display: block;
	background-image: url(../images/shade-line-top.jpg), url(../images/shade-line-bottom.jpg), url(../images/mid-bg-repeat.jpg);
	background-repeat: repeat-x, repeat-x, repeat-x;
	background-position: top center, bottom center, center center ;
	margin-bottom:20px;
	max-height:52px;
}

.ltie9 section.standOut {
	background:url(../images/mid-bg-repeat-ltie9.jpg) center center repeat-x;
}

section.standOut article {
	color: #161616;
	font-size: 25px;
	font-weight: bold;
	line-height: 27px;
	margin: 0 auto;
	padding: 0 50px;
	max-width: 900px;
}
#actions {
	width: 90%;
	max-width:900px;
	margin:0 auto;
}
#actions:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}

section#calls2act ul#actions li:nth-child(2) {
	margin:0 5.833333334%; /* 52px / 900px */
}

.ltie9 section#calls2act ul#actions li.ieFix {
	margin:0 5.833333334%; /* 52px / 900px */
}

#actions li {
	width: 29.444444444%; /* (100-(5.833333334 * 2))/3 */
}

#actions li img {
	width: 100%;
	height: auto;
}
#actions li a {
	display: inline-block;
	height: auto;
}
section#calls2act {
	margin-bottom:15px;
	text-align:center;
	padding-left: 15px;
}

section#calls2act ul#actions {
	list-style-type:none;
}

section#calls2act ul#actions li {
	display: block;
	float: left;
}

section#calls2act ul#actions li:after {
	font-weight:bold;
	color: transparent;
	text-shadow: #c6c6c6 0 0 2px;
}

section#calls2act ul#actions li:hover:after {
	text-shadow: #B52F2D 0 0 0;
	color: #B52F2D;
}

section#calls2act ul#actions li:first-child:after {
	content:"{It will change your life}";
}

section#calls2act ul#actions li:nth-child(2):after {
	content:"{Let's grab a virtual beer}";
}

section#calls2act ul#actions li:last-child:after {
	content:"{We’ll make you a sandwich...}";
}

section#recentPost {
	max-width:900px;
	width: 90%;
	margin:0 auto;
}

section#recentPost article {
	padding-left:25px;
}

footer#footer {
	background: url("../images/nav-back.jpg") repeat-x scroll 0 0 transparent;
	color: #717171;
	height: 42px;
	padding: 20px 5% 0 5%;
	bottom: 0;
	position: fixed;
	text-align: center;
	width: 90%;
	box-shadow: 0px 0px 15px #000000;
	display: block;
}

.red {
	color:#b52f2d;
}

.clear {
	clear:both;
}

progress {
	height:9px;
}

.port aside#peepLinker div {
	color: #161616;
	font-size: 25px;
	font-weight: bold;
	line-height: 27px;
	margin: 0 auto;
	max-width: 900px;
	width:900px;
	margin:0 auto;
	padding:20px 0;
}

aside#peepLinker div ul {
	list-style-type:none;
}

aside#peepLinker div ul li {
	display: inline-block;
}

section.peep header hgroup h1 {
  color: #000000;
  font-size: 24px;
  font-weight: bolder;
}

section.peep header hgroup h2 {
  color: #D0403E;
  font-size: 18px;
  font-weight: bold;
}

.port section.peep {
	margin-top:20px;
	clear: both;
}

.port section.peep div {
	width:900px;
	margin:0 auto;
}

.port section.peep hgroup {
	width:900px;
	margin:0 auto;
}

.port section.peep article {
	clear:both;
	margin-bottom:20px;
	padding-bottom:20px;
}

.port section.peep article .desc h3 {
	font-weight:bold;
	font-size:18px;
	margin-bottom:5px;
}

.port section.peep article .desc {
	width:250px;
	float:left;
}

.port section.peep article .desc a {
	display: inline-block;
	font-weight: bold;
	margin-top: 5px;
}

.port section.peep article .imgs {
	width:510px;
	float:right;
}