html, body, div, menu, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, del, dfn, em, font, img, ins, kbd, q, s, samp, acronym, address, big, cite, code,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;}

caption, th, td {text-align:left;font-weight:normal;}

table {border-collapse:separate;border-spacing:0;}

blockquote:before,blockquote:after,q:before,q:after {content: "";}

blockquote, q {quotes: "" "";}

/* END RESET */

body {
	font-size: 14px;
	background: hsla(0, 2%, 91%, 1);
	color: #000;
	font-family: Century Gothic, sans-serif;
}

.ltie9 body {
	background:#e8e7e7;
}

header#header {
	height:62px;
	background:url(../images/nav-back.jpg) repeat-x;
	margin:0;
	padding:0;
	box-shadow:0 0 15px #000;
}

header#header menu {
	margin: 0 auto;
	text-align: right;
	width: 900px;
}

header#header ul {
	list-style-type:none;
	padding-top:10px;
	width:460px;
	display: inline-block;
}

header#header ul li {
	display:inline-block;
	color:#ececec;
	margin-right:60px;
	text-align:left;
}

.ie7 header#header ul li {
	display: inline;
}

header#header ul li span {
	font-weight:bold;
}

header#header ul li.currentPage span {
	color:#FFF;
}

header#header ul li a:link, header#header ul li a:visited {
	color:#ececec;
	text-decoration:none;
}

header#header ul li a:hover {
	color:#f6a09f;
}

header#header ul li.currentPage a:link, header#header ul li.currentPage a:visited {
	color:#f34947;
}

figure#logo {
	height: 285px;
	margin: -30px auto 30px;
	width: 900px;
	display: block;
}

figure#logo #dpt5 {
	margin-bottom:80px;
}

figure#coolShit {
	margin: 55px auto 0;
	padding-right: 60px;
	text-align: right;
	width: 840px;
}


section.standOut {
	padding:35px 0;
	width:100%;
	display: block;
	height:52px;
	background-image: url(../images/shade-line-top.jpg), url(../images/mid-bg-repeat.jpg), url(../images/shade-line-bottom.jpg);
	background-repeat: repeat-x, repeat-x, repeat-x;
	background-position: top center, center center, bottom center;
}

.ltie9 section.standOut {
	background:url(../images/mid-bg-repeat-ltie9.jpg) center center repeat-x;
}

section.standOut article {
	color: #161616;
	font-size: 25px;
	font-weight: bold;
	line-height: 27px;
	margin: 0 auto;
	padding-left: 50px;
	width: 850px;
}

footer#footer {
	background: url("http://jakelovedev.com/wdim393/d5/css/../images/nav-back.jpg") repeat-x scroll 0 0 transparent;
	bottom: 0;
	color: #717171;
	height: 42px;
	margin: 30px 0 0;
	padding: 20px 0 0;
	position: static;
	text-align: center;
	width: 100%;
}
